.botao-ordenador {
    align-items: center;
    background-color: #e4e4e4;
    border: none;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    gap: 30px;
    height: 40px;
    justify-content: space-between;
    padding: 0 40px;
    width: 211px;
}